html
  head
    script(src='/socket.io/socket.io.js')
    script(src='https://code.jquery.com/jquery-3.6.0.min.js')
    title Test Project
  body
    p
      button(id='send-request') Send Request
    div(id='log')
    script(src='/js/app.js')